<html>
    <head>
        <title>Confirm</title>
    </head>
    <body>
        <p>Are you sure you want to delete all your contacts?</p>
        <a href ='/delete'>Delete it all</a>
        <a href ='/'>Don't delete my contacts</a>
    </body>
</html>
