<html>
    <head>
        <title>You have created a contact</title>
    </head>
    <body>
        <p>You have created a contact!</p>
        <p>Here is the description of the contact you added:</p>
        <p>Name: {{ newContact.getName() }} <br>
           Number : {{ newContact.getNumber()}} <br>
           Address : {{ newContact.getAddress()}}</p>
        <p><a href='/'>Click here to go home</a></p>
        <p><a href='edit_name'>Click here if you need to edit this contact name</a>
        <p><a href='edit_phone'>Click here if you need to edit this contact phone</a>
        <p><a href='edit_address'>Click here if you need to edit this contact address</a>

    </body>
</html>
