<html>
    <head>
        <title>Editted Name</title>
    </head>
    <body>
        The properties of the name are
        {{ contact.getName}}
        {{ contact.getPhone}}
        {{ contact.getAddress}}
        <a href = "/">Click here to go home</a>
    </body>
</html>
