<html>
  <head>
    <title>Add a contact!</title>
  </head>
  <body>
    <form action = "create_contact" method = "post">
      <label for = "contact_name">Enter your contact name</label>
      <input id = "contact_name" name = "contact_name" type = "text">
      <button type = "submit" class = "btn">Go!</button>
    </form>

  </body>
</html>
