<html>
    <head>
        <title>Add a contact!</title>
    </head>
    <body>
      <form action='/create_contact' method='post'>
          <label for = 'contact_name'>Enter Contact Name:&nbsp&nbsp&nbsp&nbsp</label>
          <input id = 'contact_name' name = 'contact_name' type = 'text'>
          <br>
          <label for = 'phone_number'>Enter Contact Number:</label>
          <input id = 'phone_number' name = 'phone_number' type = 'number'>
          <br>
          <label for ='address'>Enter Contact Address:</label>
          <input id = 'address' name = 'address' type = 'text'>
          <br>
          <button type = 'submit'>Add Contact</button>
      </form>
      <form action='/delete' method='post'>
          <button type = 'submit' class = 'btn'>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
      </form>


          {% if contacts is not empty %}
              <p>Current Contacts:</p>
              {% for contact in contacts %}
                  <p>Name: {{ contact.getName}}</p>
                      <ul>
                          <li>Phone Number: {{ contact.getNumber}} </li>
                          <li>Address : {{ contact.getAddress}} </li>
                        </ul>
              {% endfor %}
          {% else %}
              <p>You have no current contacts</p>
          {% endif %}

        </body>
</html>
